- name: Deploy dotfiles
  hosts: all
  vars:
    dotfiles:
      # Different templates for user and root
      - { src: "bashrc.j2", dest: ".bashrc", mode: "0644", template: true, target: "user" }
      - { src: "bashrc_root.j2", dest: ".bashrc", mode: "0644", template: true, target: "root" }

      # Files identical for both user and root
      - { src: "vimrc", dest: ".vimrc", mode: "0644", template: false, target: "both" }
      - { src: "bash_aliases", dest: ".bash_aliases", mode: "0644", template: false, target: "both" }

      # Root-only static file
      #- { src: "rootfile.conf", dest: "rootfile.conf", mode: "0644", template: false, target: "root" }

  tasks:
    # Templates for user
    - name: Deploy template files for user
      template:
        src: "{{ item.src }}"
        dest: "/home/{{ ansible_user }}/{{ item.dest }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "{{ item.mode }}"
      loop: "{{ dotfiles }}"
      loop_control:
        label: "{{ item.dest }} ({{ item.target }})"
      when: item.template and (item.target in ['user','both'])

    # Templates for root
    - name: Deploy template files for root
      template:
        src: "{{ item.src }}"
        dest: "/root/{{ item.dest }}"
        owner: "root"
        group: "root"
        mode: "{{ item.mode }}"
      loop: "{{ dotfiles }}"
      loop_control:
        label: "{{ item.dest }} ({{ item.target }})"
      when: item.template and (item.target in ['root','both'])
      become: true

    # Static files for user
    - name: Deploy static files for user
      copy:
        src: "{{ item.src }}"
        dest: "/home/{{ ansible_user }}/{{ item.dest }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "{{ item.mode }}"
      loop: "{{ dotfiles }}"
      loop_control:
        label: "{{ item.dest }} ({{ item.target }})"
      when: not item.template and (item.target in ['user','both'])

    # Static files for root
#    - name: Deploy static files for root
#      copy:
#        src: "{{ item.src }}"
#        dest: "/root/{{ item.dest) }}"
#        owner: "root"
#        group: "root"
#        mode: "{{ item.mode }}"
#      loop: "{{ dotfiles }}"
#      loop_control:
#        label: "{{ item.dest }} ({{ item.target }})"
#      when: not item.template and (item.target in ['root','both'])
#      become: true
